
<template>
  <div class="buckets">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="hero">
      <div class="container">
        <div class="tabs is-centered is-large is-toggle is-fullwidth">
          <ul>
            <li :class="{'is-active': bucket1Selected}"><a @click="selectBucket1">Just me</a></li>
            <li :class="{'is-active': bucket2Selected}"><a @click="selectBucket2">Family</a></li>
          </ul>
        </div>
        <div class="" style="font-size:20px">
          <div v-if="bucket1Selected" >
            <h1 class="title">S-Market Ympyrätalo</h1>
            <h2 class="subtitle" > Your savings 13,18€</h2>
            <br/>
            <h2 class="subtitle" > <router-link to="/priceTable">Price list</router-link></h2>
            <h6 class="title is-6">updated 10.11.2017</h6>
          </div>
          <div v-if="bucket2Selected">
            <h1 class="title">Siwa, Kallionkatu</h1>
            <h2 class="subtitle">Your savings 8,18€</h2>
            <br/>
            <h2 class="subtitle" > <router-link to="/priceTable2">Price list2</router-link></h2>
            <h6 class="title is-6">updated 11.11.2017</h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Buckets',
  data () {
    return {
      bucket1Selected: true,
      bucket2Selected: false
    }
  },
  methods: {
    selectBucket1(){
      this.bucket1Selected = true;
      this.bucket2Selected = false;
    },
    selectBucket2() {
      this.bucket1Selected = false;
      this.bucket2Selected = true;
    }
  }
}
</script>


<style src="../../node_modules/bulma/css/bulma.css"></style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "./style.scss";
</style>
