
<template>
  <div class="prive-table">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <table class="table">
      <thead>
        <tr>
          <th>Ranking</th>
          <th>compared to average, $</th>
          <th>Store</th>
          <th>tomatoes, kg</th>
          <th>apples, kg</th>
          <th>rye bread, kg</th>
          <th>Milk, l</th>
          <th>Basilika, piece</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>-13,18</td>
          <td>S-Market Ympyrätalo</td>
          <td>3</td>
          <td>2,4</td>
          <td>0,99</td>
          <td>1,05</td>
          <td>1,29</td>
        </tr>
        <tr>
          <th>2</th>
          <td>-3,18</td>
          <td>Lidl, Sörnäinen</td>
          <td>3,1</td>
          <td>2,4</td>
          <td>0,97</td>
          <td>1,35</td>
          <td>1,39</td>
        </tr>
        <tr>
          <th>3</th>
          <td>+1,1</td>
          <td>Siwa, Kallionkatu</td>
          <td>3.4</td>
          <td>3,4</td>
          <td>1,29</td>
          <td>1,15</td>
          <td>1,59</td>
        </tr>
        <tr>
          <th>4</th>
          <td>+15,18</td>
          <td>Unfair expence, Market street</td>
          <td>4</td>
          <td>3,4</td>
          <td>2,09</td>
          <td>9,19</td>
          <td>1,99</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import router from '../router';

export default {
  name: 'PriceTable2',
  data () {
    return {}
  },
  methods: {
  }
}
</script>


<style src="../../node_modules/bulma/css/bulma.css"></style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "./style.scss";
</style>
